img {
 width: 100%;
 height: 30vw;
 object-fit: cover;
 object-position: center;
 border-radius: 4px;
 filter: opacity(80%);
}

img:hover {
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}